*{
    margin: 5;
}
#click{
    margin-left: 20px;
    font-style:oblique;
    color: chocolate;
}
.left{
    margin-left: 8px;
    color: white;
    
}
.img{
    border: 10px solid black;
    border-radius:7px;
    
}
.p{
    background-color: rgb(8, 210, 241);
    border: 4px solid rgb(255, 148, 71);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-right: 50%;
    margin-top: 2px;
    padding: 5px;
    
}
#motivation{
    color: rgb(9, 199, 246);
}
#moti{
    text-align: center;
}
#wiki{
    
}